div(class="webamp-player-container")
    div(class="webamp-panel webamp-playlist")
        div(class="webamp-panel-content-container" audio-playlist-item-list)
            div(class="playlist-item", audio-playlist-item-template) 
                span(audio-playlist-item-artist) Artist 1
                span=" - "
                span(audio-playlist-item-title) Title 1
            div(class="html-visualiser-container")
                div(class="frequency-bar", audio-vis-eq-frequency-playlist, mutate="css(height,%,0.0,100.0)")
                div(class="frequency-bar", audio-vis-eq-frequency-playlist, mutate="css(height,%,0.0,100.0)")
                div(class="frequency-bar", audio-vis-eq-frequency-playlist, mutate="css(height,%,0.0,100.0)")
                div(class="frequency-bar", audio-vis-eq-frequency-playlist, mutate="css(height,%,0.0,100.0)")
            div(class="playtime-container", audio-label-track-position)
    div(class="webamp-panel webamp-eq")
        div(class="webamp-panel-content-container")
            div(class="webamp-presets-container")
                span(audio-button-eq-preset, preset="Custom") Custom
                span(class="selectable", audio-button-eq-preset, preset="Bass") Bass
                span(class="selectable", audio-button-eq-preset, preset="Rock") Rock
                span(class="selectable", audio-button-eq-preset, preset="Club") Club
            div(class="webamp-frequencies-container")
                div(class="frequency-markers-container")
                    div(class="frequency-marker") 12dB
                    div(class="frequency-marker") 0dB
                    div(class="frequency-marker") -12dB
                div(class="frequency-sliders-container")
                    div(class="frequency-slider-container")
                        input(type="range", audio-button-eq-range frequency="400", list="frequency-gain-list")
                        label 400 
                    div(class="frequency-slider-container")
                        input(type="range", audio-button-eq-range frequency="600", list="frequency-gain-list")
                        label 600
                    div(class="frequency-slider-container")
                        input(type="range", audio-button-eq-range frequency="800", list="frequency-gain-list")
                        label 800
                    div(class="frequency-slider-container")
                        input(type="range", audio-button-eq-range frequency="1000", list="frequency-gain-list")
                        label 1k
                    div(class="frequency-slider-container")
                        input(type="range", audio-button-eq-range frequency="2000", list="frequency-gain-list")
                        label 2k
                    div(class="frequency-slider-container")
                        input(type="range", audio-button-eq-range frequency="3000", list="frequency-gain-list")
                        label 3k
                    div(class="frequency-slider-container")
                        input(type="range", audio-button-eq-range frequency="4000", list="frequency-gain-list")
                        label 4k
                    datalist(id="frequency-gain-list")
                        option(value="-12")
                        option(value="-6")
                        option(value="0")
                        option(value="6")
                        option(value="12")
    div(class="webamp-controls")
        div(class="webamp-button-playlist-container webamp-toggle")
            div(class="webamp-button-playlist")
        div(class="webamp-button-repeat", audio-button-loop)
        div(class="webamp-button-previous", audio-button-previous)
        div(class="webamp-button-play-pause", audio-button-play-pause)
        div(class="webamp-track-information")
            span(audio-information-paused) Play
            span(audio-information-playing) Now Playing: 
                span(audio-label-artist-name)
                span  - 
                span(audio-label-track-name)
        div(class="webamp-button-next", audio-button-next)
        div(class="webamp-button-shuffle", audio-button-shuffle)
        div(class="webamp-button-eq-container webamp-toggle")
            div(class="webamp-button-eq")